<h1>Whoops! That note doesn't seem to exist.</h1> <br>

<h3>Would you like to <a href="/notes/new/">make a new note</a>?</h3>
<h3>or <a href="/users/<%= current_user.id %>/">return to your dashboard</a>?</h3>