<h1>Whoops! That user doesn't exist, or isn't logged in.</h1> <br>

<h3> Log in</h3> <br>

<div class="sign-in">
    <div id="login-wrapper">
        <form method="post" action="/users">

        <label for="email">Email</label> 
        <input type="text" id="email" name="user[email]">
        <br>

        <label for="password">Password</label>
        <input type="text" id="password" name="user[password]">
        <br>


        <input type="submit" id="log in" value="Log in">
    </div>

    <div id="sign up">
        <a href="/users/sign-up"><h3> ...or sign up </h3></a>

    </div>

</div>