<h1>Sign up for NoteWorthy!</h1>

<p>Sign up for NoteWorthy and start logging your personal achievements starting now!</p>

<form method="post" action="/users/new">

    <label for="first name">First Name</label> 
    <input type="text" id="first name" name="user[first_name]" required>
    <br>

    <label for="last name">Last Name</label> 
    <input type="text" id="last name" name="user[last_name]" required>
    <br>

    <label for="age">Last Name</label> 
    <input type="number" id="age" name="user[age]">
    <br>

    <label for="location">Last Name</label> 
    <input type="text" id="location" name="user[location]">
    <br>

    <label for="email">Enter your email</label> 
    <input type="email" id="email" name="user[email]" required>
    <br>

    <label for="password">Choose your password</label>
    <input type="password" id="password" name="user[password]" required>
    <br>

    <label for="password confirmation">Confirm your password</label>
    <input type="password" id="password confirmation" name="password_confirmation" required>
    <br>

    


    <input type="submit" id="sign up" value="Sign Up">

</form>